{% extends "base.html" %}
{% block title %}
  Registrar empleado
{% endblock title %}

{% block content %}
  {% include "includes/header.html" %}
  <div class="grid-x">
    <h1 class="cell">Registrar empleado</h1>
    <form class="cell grid-x grid-margin-x" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="medium-6 cell">
          <label>Nombre:
            {{form.first_name}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>Apellido:
            {{form.last_name}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>Cargo:
            {{form.job}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>Departamento:
            {{form.departament}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>Habilidades:
            {{form.habilidades}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>Habilidades:
            {{form.avatar}}
          </label>
        </div>
        <button type="submit" class="button"> Enviar</button>
    </form>
  </div>
{% endblock content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
</form>