{% extends 'base.html' %}
{% block title %}Lista empleados{% endblock title %}
{% block content %}
<!-- Inclusiv el include tiene que ir dentro de un bloque 
    que este en base. -->
{% include "includes/header.html" %}
  <div class="grid-container">
      <div class="grid-x">
          <h1>Lista empleados</h1>
          <div class="cell">
            <table>
                <thead>
                  <tr>
                    <th width="200">ID</th>
                    <th>Nombre</th>
                    <th width="150">Apellidos</th>
                    <th width="150">Departamento</th>
                    <th width="150">Accion</th>
                  </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados  %}
                    <tr>
                      <td>{{ empleado.id }}</td>
                      <td>{{ empleado.first_name }}</td>
                      <td>{{ empleado.last_name }}</td>
                      <td>{{ empleado.departament }}</td>
                        <td>
                          <a class="button success" href="{% url 'persona_app:update' empleado.id %}">Editar</a>
                        </td>
                      <td>
                          <a class="button alert" href="{% url 'persona_app:delete' empleado.id %}">Eliminar</a>
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
          <div class="cell">
            {% if is_paginated %}
                {% include "includes/paginator.html" %}
            {% endif %}
          </div>
      </div>
  </div>
{% endblock content %}