<nav aria-label="Pagination">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="pagination-previous">
                <a href="?page={{page_obj.previous_page_number}}">Atras</a>
            </li>
        {% endif %}
        {% for pagina in paginator.page_range %}
            {% if page_obj.number == pagina %}
                <li class="current"><span class="show-for-sr">You're on {{ page_obj.number }}</span>{{ page_obj.number }}</li>
            {% else %}
                <li><a href="?page={{pagina}}">{{ pagina }}</a></li>  
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}    
            <li class="pagination-previous">
                <a href="?page={{page_obj.next_page_number}}">Atras</a>
            </li>                    
        {% endif %}
    </ul>
</nav>